<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" [class.collapsed]="!isCollapsed" nzCollapsible nzWidth="180px" nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <ul class="menu-list" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <nz-icon nzType="container" />
        <span routerLink="/">Sipariş Kontrol</span>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="rocket" />
        <span routerLink="title-documents">Kargo Kontrol</span>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="team" />
        <span>Müşteriler</span>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="shop" />
        <span>Mağazalar</span>
      </li>
      <li nz-menu-item>
        <nz-icon nzType="build" />
        <span>Üreticiler</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header" [class.collapsed]="!isCollapsed">
        <span class="header-trigger">
          <nz-icon [class.collapsed]="!isCollapsed" (click)="isCollapsed = !isCollapsed" class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" />
          <nz-icon class="star" nzType="star" nzTheme="fill" />
          <span>{{ pageTitle }}</span>
        </span>
        <div class="logo-area"><img src="/image/beymen-logo.svg"></div>
        <div class="user-area">
          <div class="search">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Arama" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <nz-icon nzType="search" />
            </ng-template>
          </div>
          <a nz-dropdown [nzDropdownMenu]="menu">
            <nz-avatar nzText="AÇ"></nz-avatar><span class="user-name"> Ali Berk Çalışkan</span>
            <nz-icon nzType="down" />
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Profil</li>
              <li nz-menu-divider></li>
              <li nz-menu-item>Çıkış Yap</li>

            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>